[scenario]	
	id=2_Attack_of_the_Undead		
	#textdomain wesnoth-Attack_of_the_Undead
	name= _ "Attack of the Undead"
	map_data="{@campaigns/Attack_of_the_Undead/maps/2_Attack_of_the_Undead.map}"
	{SCENARIO_MUSIC "knolls.ogg"}	
	{TURNS 12 12 12}	
	
	{DEFAULT_SCHEDULE}
	
	next_scenario=3_Help_from_the_Villagers
	victory_when_enemies_defeated=no
	
	[side]
		type=Red Mage
		description=Ryan
		user_description="Ryan"			
		unrenamable=yes				
		side=1			
		canrecruit=1			
		controller=human				
		recruit=Mage, Peasant			
		team_name=good	
	[/side]
	
	[side]
		type=Soulless
		description=Marth		
		user_description="Marth"
		unrenamable=yes
		side=2
		canrecruit=1
		controller=ai
		recruit=Walking Corpse
		team_name=bad
		{GOLD 40 60 80}
	[/side]
		
	[side]
		type=Revenant	
		description=Skal-Ka		
		user_description="Skal-Ka"		
		unrenamable=yes		
		side=3			
		canrecruit=1						
		controller=ai				
		recruit=Skeleton, Skeleton Archer, Vampire Bat
		team_name=bad
		{GOLD 40 60 80}		
	[/side]			
		
	[event]		
		name=prestart
		[objectives]							
		side=1					
			[objective]							
				description= _ "Resist until the end of the turns"	
				condition=win						                    
			[/objective]
			[objective]							
				description= _ "Death of Ryan"						
				condition=lose						
			[/objective]				
		[/objectives]
	[/event]
	
	[story]
		[part]
			story= _ "Two months after Deven's mysterious disappearance, undead hordes were sighted coming towards the mage city..."
		[/part]
	[/story]
	
	{STARTING_VILLAGES 1 6}		
	
	[event]
	name=start
		[message]
			speaker=Ryan
			message= _ "Look, Undead are attacking from the south, I must hold them off for as long as I can."
		[/message]
	[/event]
	
	[event]
	name=time over
		[message]
			speaker=Ryan
			message= _ "We must escape, there is a village to the north, perhaps they can help us."
		[/message]	 			
		[endlevel]					
			result=victory				
		[/endlevel]		
	[/event]
	
	{@campaigns/Attack_of_the_Undead/utils/deaths.cfg}	
[/scenario]
	